body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    margin-inline: 5rem;
    font-size: 20px;
    padding: 1rem;
}
header .logo {
    text-transform: uppercase;
}
header .nav {
    /* display: inline-block; */
    /* border: 1px solid green; */
}
.nav a {
    display: inline-block;
    text-decoration: none;
    padding-inline: .5rem;
    color: black;

    text-transform: capitalize;
}
.nav a:hover {
    color: gray;
    /* text-decoration: underline; */
}
.hero {
    /* border: 1px solid red; */
    overflow: hidden;
    height: 120vh;

    margin: 5rem;
    /* margin-top: 10rem; */
}
.hero .img {
    height: 60%;
    /* border-bottom: 1px solid blue; */
    width: 100%;
    background-image: url(./imgs/chomlea.jpg);
    background-position: cover;
    /* background-repeat: no-repeat; */
}
.hero div:nth-child(2) {
    /* border: 1px solid blue; */
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero div:nth-child(2) h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 4rem;
}
.hero div:nth-child(2) p {
    text-align: center;
}
.hero div:nth-child(2) a {
    padding: .5rem;
    padding-inline: 1rem;
    border: 1px solid rgb(173, 168, 168);
    font-size: 1.3rem;
    background: none;
    text-decoration: none;
    color: black;

    margin-top: 2rem;
    transition:all 300ms ease;
}
.hero div:nth-child(2) a:hover {
    /* color: gray; */
    background: #edf2f8;
    border: 1px solid #edf2f8;
    /* border: 1px solid black; */
}
.features{
    padding: 5rem;
    padding-top: 1rem;
    background-color: #edf2f8;
    /* border: 1px solid red; */
}
.features h1, .about h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 4rem;
}
.features >div {
    /* border: 1px solid gray; */
    margin-top: 2rem;
}
.features .img {
    height: 400px;
}
.features .desc {
    /* border: 1px solid red; */
    /* background: rgb(173, 168, 168); */
    text-align: center;
    padding-block: 1rem;
}
.features div:first-child .img {
    background-image: url('./imgs/browse.png');
}
.features div:nth-child(2) .img {
    background-image: url('./imgs/rate.png');
}
.features div:last-child .img {
    background-image: url('./imgs/create.png');
}
.features h2 {
    text-transform: capitalize;
}
.features h2:hover {
    color: gray;
    cursor: pointer;
}
footer{
    /* border: 1px solid red; */
    margin: 2rem;
    /* background-color: #edf2f8; */
}
.about {
    padding: 5rem;
    padding-top: 1rem;
}
.about h1 {
    border-bottom: 1px solid black;
}
.about .story {
    text-align: center;
    padding-inline: 1rem;
}
.about h3 {
    text-align: center;
    margin-top: 2rem;
    /* border: 1px solid gray; */
    padding: .5rem;
}
.about .devs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    text-align: center;
    gap: 3rem;
}
.about .devs div {
    /* border: 1px solid green; */
}